<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ventoil.se/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://ventoil.se:8172/msdeploy.axd?site=ventoil-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>ventoil-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\ventoil-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="umbracoDbDSN" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5034.myWindowsHosting.com;Initial Catalog=DB_A16FCD_ventoil;Persist Security Info=True;User ID=DB_A16FCD_ventoil_admin;Password=Joggar99!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5034.myWindowsHosting.com;Initial Catalog=DB_A16FCD_ventoil;User ID=DB_A16FCD_ventoil_admin;Password=Joggar99!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\umbracoDbDSN_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5034.myWindowsHosting.com;Initial Catalog=DB_A16FCD_ventoil;User Id=DB_A16FCD_ventoil_admin;Password=Joggar99!;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)umbracoDbDSN-Web.config Connection String">
      <ParameterValue>Data Source=SQL5034.myWindowsHosting.com;Initial Catalog=DB_A16FCD_ventoil;Persist Security Info=True;User ID=DB_A16FCD_ventoil_admin;Password=Joggar99!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>