<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT abstractBackgroundImage ANY>
<!ATTLIST abstractBackgroundImage id ID #REQUIRED>
<!ELEMENT abstractNonPage ANY>
<!ATTLIST abstractNonPage id ID #REQUIRED>
<!ELEMENT abstractOpenGraph ANY>
<!ATTLIST abstractOpenGraph id ID #REQUIRED>
<!ELEMENT abstractPage ANY>
<!ATTLIST abstractPage id ID #REQUIRED>
<!ELEMENT abstractPageAdvanced ANY>
<!ATTLIST abstractPageAdvanced id ID #REQUIRED>
<!ELEMENT abstractPageBackgroundImage ANY>
<!ATTLIST abstractPageBackgroundImage id ID #REQUIRED>
<!ELEMENT abstractPageLanguage ANY>
<!ATTLIST abstractPageLanguage id ID #REQUIRED>
<!ELEMENT abstractSectionEffects ANY>
<!ATTLIST abstractSectionEffects id ID #REQUIRED>
<!ELEMENT abstractTopMenu ANY>
<!ATTLIST abstractTopMenu id ID #REQUIRED>
<!ELEMENT Abstractlink ANY>
<!ATTLIST Abstractlink id ID #REQUIRED>
<!ELEMENT AbstractSocialLinks ANY>
<!ATTLIST AbstractSocialLinks id ID #REQUIRED>
<!ELEMENT dAccordionItem ANY>
<!ATTLIST dAccordionItem id ID #REQUIRED>
<!ELEMENT sectionAccordion ANY>
<!ATTLIST sectionAccordion id ID #REQUIRED>
<!ELEMENT sectionActionBox ANY>
<!ATTLIST sectionActionBox id ID #REQUIRED>
<!ELEMENT folderArticlePosts ANY>
<!ATTLIST folderArticlePosts id ID #REQUIRED>
<!ELEMENT pageBlogAuthor ANY>
<!ATTLIST pageBlogAuthor id ID #REQUIRED>
<!ELEMENT folderAuthors ANY>
<!ATTLIST folderAuthors id ID #REQUIRED>
<!ELEMENT pageArticleItem ANY>
<!ATTLIST pageArticleItem id ID #REQUIRED>
<!ELEMENT pageBlogList ANY>
<!ATTLIST pageBlogList id ID #REQUIRED>
<!ELEMENT folderGenericCategories ANY>
<!ATTLIST folderGenericCategories id ID #REQUIRED>
<!ELEMENT dClientLogoitem ANY>
<!ATTLIST dClientLogoitem id ID #REQUIRED>
<!ELEMENT sectionClientLogos ANY>
<!ATTLIST sectionClientLogos id ID #REQUIRED>
<!ELEMENT folderConfiguration ANY>
<!ATTLIST folderConfiguration id ID #REQUIRED>
<!ELEMENT sectionContact ANY>
<!ATTLIST sectionContact id ID #REQUIRED>
<!ELEMENT pageContent ANY>
<!ATTLIST pageContent id ID #REQUIRED>
<!ELEMENT dContentSliderItem ANY>
<!ATTLIST dContentSliderItem id ID #REQUIRED>
<!ELEMENT sectionContentSlider ANY>
<!ATTLIST sectionContentSlider id ID #REQUIRED>
<!ELEMENT sectionCounter ANY>
<!ATTLIST sectionCounter id ID #REQUIRED>
<!ELEMENT sectionFaqTabbed ANY>
<!ATTLIST sectionFaqTabbed id ID #REQUIRED>
<!ELEMENT dFaqItem ANY>
<!ATTLIST dFaqItem id ID #REQUIRED>
<!ELEMENT sectionFaq ANY>
<!ATTLIST sectionFaq id ID #REQUIRED>
<!ELEMENT dFaqTabItem ANY>
<!ATTLIST dFaqTabItem id ID #REQUIRED>
<!ELEMENT dFeatureItem ANY>
<!ATTLIST dFeatureItem id ID #REQUIRED>
<!ELEMENT sectionFeatures ANY>
<!ATTLIST sectionFeatures id ID #REQUIRED>
<!ELEMENT dGenericCategoryItem ANY>
<!ATTLIST dGenericCategoryItem id ID #REQUIRED>
<!ELEMENT configGlobalSettings ANY>
<!ATTLIST configGlobalSettings id ID #REQUIRED>
<!ELEMENT folderHomeAssets ANY>
<!ATTLIST folderHomeAssets id ID #REQUIRED>
<!ELEMENT folderImageGalleryImages ANY>
<!ATTLIST folderImageGalleryImages id ID #REQUIRED>
<!ELEMENT dImageGalleryItem ANY>
<!ATTLIST dImageGalleryItem id ID #REQUIRED>
<!ELEMENT sectionImageGallery ANY>
<!ATTLIST sectionImageGallery id ID #REQUIRED>
<!ELEMENT dLinkButton ANY>
<!ATTLIST dLinkButton id ID #REQUIRED>
<!ELEMENT folderLinkButtons ANY>
<!ATTLIST folderLinkButtons id ID #REQUIRED>
<!ELEMENT sectionMultiCol ANY>
<!ATTLIST sectionMultiCol id ID #REQUIRED>
<!ELEMENT dPercentagesItem ANY>
<!ATTLIST dPercentagesItem id ID #REQUIRED>
<!ELEMENT sectionPercentages ANY>
<!ATTLIST sectionPercentages id ID #REQUIRED>
<!ELEMENT sectionPlaceholder ANY>
<!ATTLIST sectionPlaceholder id ID #REQUIRED>
<!ELEMENT pagePortfolioItem ANY>
<!ATTLIST pagePortfolioItem id ID #REQUIRED>
<!ELEMENT folderPortfolioItems ANY>
<!ATTLIST folderPortfolioItems id ID #REQUIRED>
<!ELEMENT sectionPortfolio ANY>
<!ATTLIST sectionPortfolio id ID #REQUIRED>
<!ELEMENT folderPortfolioSections ANY>
<!ATTLIST folderPortfolioSections id ID #REQUIRED>
<!ELEMENT dPricingItem ANY>
<!ATTLIST dPricingItem id ID #REQUIRED>
<!ELEMENT sectionPricing ANY>
<!ATTLIST sectionPricing id ID #REQUIRED>
<!ELEMENT dProcessItem ANY>
<!ATTLIST dProcessItem id ID #REQUIRED>
<!ELEMENT sectionProcess ANY>
<!ATTLIST sectionProcess id ID #REQUIRED>
<!ELEMENT folderSectionsReusable ANY>
<!ATTLIST folderSectionsReusable id ID #REQUIRED>
<!ELEMENT folderSections ANY>
<!ATTLIST folderSections id ID #REQUIRED>
<!ELEMENT dServiceItem ANY>
<!ATTLIST dServiceItem id ID #REQUIRED>
<!ELEMENT sectionServices ANY>
<!ATTLIST sectionServices id ID #REQUIRED>
<!ELEMENT dSliderImage ANY>
<!ATTLIST dSliderImage id ID #REQUIRED>
<!ELEMENT folderSliderImages ANY>
<!ATTLIST folderSliderImages id ID #REQUIRED>
<!ELEMENT sectionStatement ANY>
<!ATTLIST sectionStatement id ID #REQUIRED>
<!ELEMENT dTeamItem ANY>
<!ATTLIST dTeamItem id ID #REQUIRED>
<!ELEMENT sectionTeam ANY>
<!ATTLIST sectionTeam id ID #REQUIRED>
<!ELEMENT dTestimonialItem ANY>
<!ATTLIST dTestimonialItem id ID #REQUIRED>
<!ELEMENT sectionTestimonials ANY>
<!ATTLIST sectionTestimonials id ID #REQUIRED>
<!ELEMENT sectionText ANY>
<!ATTLIST sectionText id ID #REQUIRED>
<!ELEMENT Pagehome ANY>
<!ATTLIST Pagehome id ID #REQUIRED>
]>
<root id="-1">
  <Pagehome id="1148" key="f5ed3d8f-1c32-487b-90fb-44e531df2fb3" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-12-12T12:01:03" updateDate="2017-01-19T03:00:47" nodeName="Ventoil" urlName="ventoil" path="-1,1148" isDoc="" nodeType="1147" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="1075" nodeTypeAlias="Pagehome">
    <useLightOverlay>0</useLightOverlay>
    <image><![CDATA[1169]]></image>
    <useLightTextColor>0</useLightTextColor>
    <useOverlay>1</useOverlay>
    <umbracoNaviHide>0</umbracoNaviHide>
    <redirectFirstSubPage>0</redirectFirstSubPage>
    <hideFromFooter>0</hideFromFooter>
    <lightTopMenu>0</lightTopMenu>
    <introTitle><![CDATA[Renare luft för vår framtid]]></introTitle>
    <introType>7</introType>
    <folderSections id="1149" key="6ca624d1-815e-40ca-a2e5-51c272008ccd" parentID="1148" level="2" creatorID="0" sortOrder="0" createDate="2016-12-12T12:01:03" updateDate="2016-12-12T12:01:06" nodeName="Page Elements" urlName="page-elements" path="-1,1148,1149" isDoc="" nodeType="1136" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderSections">
      <sectionText id="1150" key="e4fc8f38-3b4a-47d6-b3a6-8f5367b43315" parentID="1149" level="3" creatorID="0" sortOrder="0" createDate="2016-12-12T12:01:03" updateDate="2016-12-13T13:38:57" nodeName="Välkommen till Ventoil Luft &amp; Energiservice AB" urlName="vaelkommen-till-ventoil-luft-energiservice-ab" path="-1,1148,1149,1150" isDoc="" nodeType="1146" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="sectionText">
        <animationLarger>1</animationLarger>
        <animationEnable>1</animationEnable>
        <animationDirection><![CDATA[Left]]></animationDirection>
        <hideTitle>0</hideTitle>
        <titleSize><![CDATA[5]]></titleSize>
        <wideText>1</wideText>
        <textContent><![CDATA[<p><strong>Vi erbjuder våra kunder kompletta installationer av värmepumpar.</strong></p>
<p>Utöver detta tillhandahåller vi även full service, men även injusteringar samt reparationer av ventilationsanläggningar. Som återförsäljare av cTc och deras produkter kan vi hjälpa våra kunder att sänka sina värmekostnader med upp till 70%.</p>
<p>Kontakta oss för att ta del av ytterligare detaljer. Välkommen!</p>]]></textContent>
        <centerTextAndTitle>1</centerTextAndTitle>
        <largerText>1</largerText>
      </sectionText>
      <sectionActionBox id="1151" key="a66242ac-3ed8-47fa-b371-d325e66adb97" parentID="1149" level="3" creatorID="0" sortOrder="1" createDate="2016-12-12T12:01:03" updateDate="2017-01-19T03:06:18" nodeName="Kolla våra samarbetspartner Swegon" urlName="kolla-vaara-samarbetspartner-swegon" path="-1,1148,1149,1151" isDoc="" nodeType="1094" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="sectionActionBox">
        <useLightOverlay>0</useLightOverlay>
        <useLightTextColor>1</useLightTextColor>
        <useOverlay>1</useOverlay>
        <animationLarger>1</animationLarger>
        <animationEnable>1</animationEnable>
        <animationDirection><![CDATA[Left]]></animationDirection>
        <externalLink><![CDATA[http://www.swegon.com/sv/Swegon-Home-Solutions/Uttbytesaggregate-2/]]></externalLink>
        <summary><![CDATA[Funderar du på att byta ut ditt gamla FTX-aggregat till ett nytt modernt? Här hittar du information om hur du kan förbättra ventilationen.]]></summary>
        <buttonText><![CDATA[Swegon]]></buttonText>
      </sectionActionBox>
      <sectionPortfolio id="1193" key="56a50059-d2d3-43a0-862a-3460ec5718ef" parentID="1149" level="3" creatorID="0" sortOrder="2" createDate="2016-12-13T21:42:57" updateDate="2017-01-18T10:15:03" nodeName="Produkter" urlName="produkter" path="-1,1148,1149,1193" isDoc="" nodeType="1129" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="sectionPortfolio">
        <animationLarger>0</animationLarger>
        <animationEnable>0</animationEnable>
        <masonry>0</masonry>
        <inheritBackgroundImage>0</inheritBackgroundImage>
        <sortByDate>0</sortByDate>
        <doNotDisplayReleaseDate>0</doNotDisplayReleaseDate>
        <columns>3</columns>
        <spacing>1</spacing>
        <wide>0</wide>
        <doNotDisplayCategories>0</doNotDisplayCategories>
        <showItemCount>0</showItemCount>
        <hideAllCategoryOption>0</hideAllCategoryOption>
        <hideNextPrevious>0</hideNextPrevious>
        <nextPrevRestrictToCategories>0</nextPrevRestrictToCategories>
        <randomRelatedRestrictToCategories>0</randomRelatedRestrictToCategories>
        <randomRelated>0</randomRelated>
        <folderGenericCategories id="1195" key="7ed62d6c-2e99-431d-aa88-021e1c92e75c" parentID="1193" level="4" creatorID="0" sortOrder="0" createDate="2016-12-13T21:42:58" updateDate="2016-12-13T21:42:58" nodeName="Categories" urlName="categories" path="-1,1148,1149,1193,1195" isDoc="" nodeType="1100" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderGenericCategories" />
        <folderPortfolioItems id="1194" key="6a3a8cda-d960-4106-b37d-dcdeabafc367" parentID="1193" level="4" creatorID="0" sortOrder="1" createDate="2016-12-13T21:42:57" updateDate="2016-12-13T21:42:58" nodeName="Portfolio Items" urlName="portfolio-items" path="-1,1148,1149,1193,1194" isDoc="" nodeType="1128" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderPortfolioItems">
          <pagePortfolioItem id="1237" key="5445831e-8c5f-43c3-8747-33220c3e0d59" parentID="1194" level="5" creatorID="0" sortOrder="0" createDate="2017-01-19T03:19:58" updateDate="2017-01-19T03:24:16" nodeName="V40 Lambda" urlName="v40-lambda" path="-1,1148,1149,1193,1194,1237" isDoc="" nodeType="1127" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="1079" nodeTypeAlias="pagePortfolioItem">
            <umbracoNaviHide>0</umbracoNaviHide>
            <redirectFirstSubPage>0</redirectFirstSubPage>
            <hideFromFooter>0</hideFromFooter>
            <externalLink><![CDATA[http://www.ctc.se/product/ctc-v40-lambda/]]></externalLink>
            <doNotShowLargeFirstImage>0</doNotShowLargeFirstImage>
            <imageGallery><![CDATA[1236]]></imageGallery>
            <showImagesAsList>0</showImagesAsList>
            <doNotDisplayReleaseDate>0</doNotDisplayReleaseDate>
            <doNotDisplayCategories>0</doNotDisplayCategories>
            <customVisitSiteButtonCaption><![CDATA[ctc]]></customVisitSiteButtonCaption>
            <showVisitSiteButton>1</showVisitSiteButton>
            <folderPortfolioSections id="1238" key="b85cf7c0-40cf-4e41-a2ef-1577dc8eb76f" parentID="1237" level="6" creatorID="0" sortOrder="0" createDate="2017-01-19T03:19:58" updateDate="2017-01-19T03:19:58" nodeName="Additional Portfolio Elements" urlName="additional-portfolio-elements" path="-1,1148,1149,1193,1194,1237,1238" isDoc="" nodeType="1130" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderPortfolioSections" />
          </pagePortfolioItem>
          <pagePortfolioItem id="1196" key="ae07718c-8282-4571-ad8a-186fdd06c471" parentID="1194" level="5" creatorID="0" sortOrder="1" createDate="2016-12-16T21:34:23" updateDate="2017-01-19T03:24:16" nodeName="EcoAir 400 Villa" urlName="ecoair-400-villa" path="-1,1148,1149,1193,1194,1196" isDoc="" nodeType="1127" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="1079" nodeTypeAlias="pagePortfolioItem">
            <umbracoNaviHide>0</umbracoNaviHide>
            <redirectFirstSubPage>0</redirectFirstSubPage>
            <hideFromFooter>0</hideFromFooter>
            <externalLink><![CDATA[http://www.ctc.se/product/ctc-ecoair-400-villa/]]></externalLink>
            <doNotShowLargeFirstImage>0</doNotShowLargeFirstImage>
            <imageGallery><![CDATA[1239]]></imageGallery>
            <showImagesAsList>0</showImagesAsList>
            <doNotDisplayReleaseDate>0</doNotDisplayReleaseDate>
            <doNotDisplayCategories>0</doNotDisplayCategories>
            <showVisitSiteButton>1</showVisitSiteButton>
            <folderPortfolioSections id="1197" key="4523821a-97a0-4e7f-a1a4-57ea77205b6a" parentID="1196" level="6" creatorID="0" sortOrder="0" createDate="2016-12-16T21:34:24" updateDate="2016-12-16T21:34:24" nodeName="Additional Portfolio Elements" urlName="additional-portfolio-elements" path="-1,1148,1149,1193,1194,1196,1197" isDoc="" nodeType="1130" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderPortfolioSections" />
          </pagePortfolioItem>
          <pagePortfolioItem id="1198" key="780af9fc-6f5c-4a83-a9a1-935b524e5ed1" parentID="1194" level="5" creatorID="0" sortOrder="2" createDate="2016-12-16T21:34:37" updateDate="2017-01-19T03:24:16" nodeName="Eco Zenith i550" urlName="eco-zenith-i550" path="-1,1148,1149,1193,1194,1198" isDoc="" nodeType="1127" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="1079" nodeTypeAlias="pagePortfolioItem">
            <umbracoNaviHide>0</umbracoNaviHide>
            <redirectFirstSubPage>0</redirectFirstSubPage>
            <hideFromFooter>0</hideFromFooter>
            <externalLink><![CDATA[http://www.ctc.se/product/ctc-ecozenith-i550-pro/]]></externalLink>
            <doNotShowLargeFirstImage>0</doNotShowLargeFirstImage>
            <imageGallery><![CDATA[1240]]></imageGallery>
            <showImagesAsList>0</showImagesAsList>
            <doNotDisplayReleaseDate>0</doNotDisplayReleaseDate>
            <doNotDisplayCategories>0</doNotDisplayCategories>
            <showVisitSiteButton>1</showVisitSiteButton>
            <folderPortfolioSections id="1199" key="f0ee9490-1c71-4c7b-bfaa-d96987def4bf" parentID="1198" level="6" creatorID="0" sortOrder="0" createDate="2016-12-16T21:34:37" updateDate="2016-12-16T21:34:37" nodeName="Additional Portfolio Elements" urlName="additional-portfolio-elements" path="-1,1148,1149,1193,1194,1198,1199" isDoc="" nodeType="1130" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderPortfolioSections" />
          </pagePortfolioItem>
        </folderPortfolioItems>
      </sectionPortfolio>
      <sectionContact id="1179" key="ec1a4491-f819-4852-9485-33f8646f35c3" parentID="1149" level="3" creatorID="0" sortOrder="3" createDate="2016-12-13T12:33:36" updateDate="2017-01-19T02:55:39" nodeName="Kontakta oss" urlName="kontakta-oss" path="-1,1148,1149,1179" isDoc="" nodeType="1104" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="sectionContact">
        <animationLarger>1</animationLarger>
        <animationEnable>1</animationEnable>
        <animationDirection><![CDATA[Right]]></animationDirection>
        <administratorsEmail><![CDATA[info@ventoil-luft.se]]></administratorsEmail>
        <notificationEmailSubject><![CDATA[Fråga från ventoil.se]]></notificationEmailSubject>
        <notificationMailSenderAlias><![CDATA[Ventoil AB]]></notificationMailSenderAlias>
        <notificationMailFrom><![CDATA[info@ventoil-luft.se]]></notificationMailFrom>
        <hideSubject>0</hideSubject>
        <hideName>0</hideName>
        <hideTitle>0</hideTitle>
      </sectionContact>
      <sectionActionBox id="1232" key="194ed719-1d14-4049-a369-e4ae80f94e10" parentID="1149" level="3" creatorID="0" sortOrder="4" createDate="2017-01-19T03:08:28" updateDate="2017-01-19T03:11:20" nodeName="Kolla våra samarbetspartner CTC" urlName="kolla-vaara-samarbetspartner-ctc" path="-1,1148,1149,1232" isDoc="" nodeType="1094" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="sectionActionBox">
        <useLightOverlay>0</useLightOverlay>
        <useLightTextColor>1</useLightTextColor>
        <useOverlay>1</useOverlay>
        <animationLarger>1</animationLarger>
        <animationEnable>1</animationEnable>
        <animationDirection><![CDATA[Left]]></animationDirection>
        <externalLink><![CDATA[http://www.ctc.se/]]></externalLink>
        <summary><![CDATA[Upplev friheten med CTC]]></summary>
        <buttonText><![CDATA[Gå till CTC]]></buttonText>
      </sectionActionBox>
      <sectionClientLogos id="1180" key="11bd15a6-bdc4-4c86-8bc3-1a2273c5198a" parentID="1149" level="3" creatorID="0" sortOrder="5" createDate="2016-12-13T13:17:12" updateDate="2017-01-19T03:08:47" nodeName="Leverantörer &amp; Samarbetspartners" urlName="leverantoerer-samarbetspartners" path="-1,1148,1149,1180" isDoc="" nodeType="1102" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="sectionClientLogos">
        <animationLarger>1</animationLarger>
        <animationEnable>1</animationEnable>
        <animationDirection><![CDATA[Left]]></animationDirection>
        <hideTitle>0</hideTitle>
        <randomOrder>0</randomOrder>
        <hideTextBubbles>0</hideTextBubbles>
        <dClientLogoitem id="1181" key="22bded0e-8d21-4e65-b5a3-851c77735865" parentID="1180" level="4" creatorID="0" sortOrder="0" createDate="2016-12-13T13:20:47" updateDate="2016-12-13T13:21:13" nodeName="CTC" urlName="ctc" path="-1,1148,1149,1180,1181" isDoc="" nodeType="1101" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="dClientLogoitem">
          <externalLink><![CDATA[http://www.ctc.se/]]></externalLink>
          <logo><![CDATA[1163]]></logo>
        </dClientLogoitem>
        <dClientLogoitem id="1184" key="1e22e7c6-681e-4b63-91e2-39af1545540f" parentID="1180" level="4" creatorID="0" sortOrder="1" createDate="2016-12-13T13:21:47" updateDate="2016-12-13T13:21:47" nodeName="Swegon" urlName="swegon" path="-1,1148,1149,1180,1184" isDoc="" nodeType="1101" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="dClientLogoitem">
          <externalLink><![CDATA[http://www.swegon.com/sv/Swegon-Home-Solutions/Uttbytesaggregate-2/]]></externalLink>
          <logo><![CDATA[1183]]></logo>
        </dClientLogoitem>
        <dClientLogoitem id="1241" key="7db84bf1-d515-47a5-9638-5e939a787214" parentID="1180" level="4" creatorID="0" sortOrder="2" createDate="2017-01-19T03:27:17" updateDate="2017-01-19T03:27:52" nodeName="Göteborg Stad" urlName="goeteborg-stad" path="-1,1148,1149,1180,1241" isDoc="" nodeType="1101" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="dClientLogoitem">
          <externalLink><![CDATA[http://goteborg.se/]]></externalLink>
          <logo><![CDATA[1186]]></logo>
        </dClientLogoitem>
      </sectionClientLogos>
    </folderSections>
    <folderHomeAssets id="1154" key="fed9325b-1055-488a-aacf-aff60224ac2f" parentID="1148" level="2" creatorID="0" sortOrder="1" createDate="2016-12-12T12:01:03" updateDate="2016-12-12T12:01:06" nodeName="Homepage Assets" urlName="homepage-assets" path="-1,1148,1154" isDoc="" nodeType="1117" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderHomeAssets">
      <folderLinkButtons id="1155" key="2b12a3dd-421b-45b6-877c-18070f543794" parentID="1154" level="3" creatorID="0" sortOrder="0" createDate="2016-12-12T12:01:03" updateDate="2016-12-13T10:49:48" nodeName="Link Buttons" urlName="link-buttons" path="-1,1148,1154,1155" isDoc="" nodeType="1122" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderLinkButtons" />
      <folderSliderImages id="1157" key="06b1216b-8a63-4dfe-b4f9-fc6bd8ddb192" parentID="1154" level="3" creatorID="0" sortOrder="1" createDate="2016-12-12T12:01:03" updateDate="2016-12-12T12:01:06" nodeName="Slider Images" urlName="slider-images" path="-1,1148,1154,1157" isDoc="" nodeType="1140" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderSliderImages">
        <dSliderImage id="1207" key="0637a5bb-594b-40db-a18b-a8738d00aa5b" parentID="1157" level="4" creatorID="0" sortOrder="0" createDate="2016-12-17T13:15:19" updateDate="2017-01-19T02:51:44" nodeName="image1" urlName="image1" path="-1,1148,1154,1157,1207" isDoc="" nodeType="1139" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="dSliderImage">
          <useLightOverlay>0</useLightOverlay>
          <image><![CDATA[1230]]></image>
          <useLightTextColor>0</useLightTextColor>
          <useOverlay>0</useOverlay>
          <title><![CDATA[CTC EcoAir 400 Villa]]></title>
          <folderLinkButtons id="1208" key="eb753a77-c13b-454f-a5b4-36d8991dc35a" parentID="1207" level="5" creatorID="0" sortOrder="0" createDate="2016-12-17T13:15:19" updateDate="2016-12-17T13:15:19" nodeName="Buttons" urlName="buttons" path="-1,1148,1154,1157,1207,1208" isDoc="" nodeType="1122" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderLinkButtons" />
        </dSliderImage>
        <dSliderImage id="1209" key="63407e18-5565-47b2-9cdc-2f32d5d88bc9" parentID="1157" level="4" creatorID="0" sortOrder="1" createDate="2016-12-17T13:15:41" updateDate="2017-01-19T02:51:57" nodeName="image2" urlName="image2" path="-1,1148,1154,1157,1209" isDoc="" nodeType="1139" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="dSliderImage">
          <useLightOverlay>0</useLightOverlay>
          <image><![CDATA[1231]]></image>
          <useLightTextColor>0</useLightTextColor>
          <useOverlay>1</useOverlay>
          <title><![CDATA[text for bild2]]></title>
          <folderLinkButtons id="1210" key="09bc1eaa-5397-49c4-87b4-f96e66cd80a6" parentID="1209" level="5" creatorID="0" sortOrder="0" createDate="2016-12-17T13:15:41" updateDate="2016-12-17T13:15:41" nodeName="Buttons" urlName="buttons" path="-1,1148,1154,1157,1209,1210" isDoc="" nodeType="1122" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderLinkButtons" />
        </dSliderImage>
        <dSliderImage id="1211" key="adb67b8f-513c-4a02-999c-30f97f472f03" parentID="1157" level="4" creatorID="0" sortOrder="2" createDate="2016-12-17T13:15:58" updateDate="2016-12-17T13:16:37" nodeName="image3" urlName="image3" path="-1,1148,1154,1157,1211" isDoc="" nodeType="1139" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="dSliderImage">
          <useLightOverlay>0</useLightOverlay>
          <image><![CDATA[1205]]></image>
          <useLightTextColor>0</useLightTextColor>
          <useOverlay>1</useOverlay>
          <title><![CDATA[text for image3]]></title>
          <folderLinkButtons id="1212" key="47b48f6a-a7a2-443f-8504-fcf8a64fa852" parentID="1211" level="5" creatorID="0" sortOrder="0" createDate="2016-12-17T13:15:58" updateDate="2016-12-17T13:15:58" nodeName="Buttons" urlName="buttons" path="-1,1148,1154,1157,1211,1212" isDoc="" nodeType="1122" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderLinkButtons" />
        </dSliderImage>
        <dSliderImage id="1213" key="ff2014a4-a92f-4d95-a7a2-8a1dd3a1f759" parentID="1157" level="4" creatorID="0" sortOrder="3" createDate="2016-12-17T13:16:16" updateDate="2016-12-17T13:16:43" nodeName="image4" urlName="image4" path="-1,1148,1154,1157,1213" isDoc="" nodeType="1139" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="dSliderImage">
          <useLightOverlay>0</useLightOverlay>
          <image><![CDATA[1206]]></image>
          <useLightTextColor>0</useLightTextColor>
          <useOverlay>1</useOverlay>
          <title><![CDATA[text sd fsdf  sdf ]]></title>
          <folderLinkButtons id="1214" key="123e6c72-1e63-4219-a4ea-32ee3915b95d" parentID="1213" level="5" creatorID="0" sortOrder="0" createDate="2016-12-17T13:16:16" updateDate="2016-12-17T13:16:16" nodeName="Buttons" urlName="buttons" path="-1,1148,1154,1157,1213,1214" isDoc="" nodeType="1122" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderLinkButtons" />
        </dSliderImage>
      </folderSliderImages>
    </folderHomeAssets>
    <folderConfiguration id="1158" key="40792900-3676-43dd-aad8-ef83cc1c78a8" parentID="1148" level="2" creatorID="0" sortOrder="2" createDate="2016-12-12T12:01:03" updateDate="2016-12-12T12:01:06" nodeName="Site Configuration" urlName="site-configuration" path="-1,1148,1158" isDoc="" nodeType="1103" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderConfiguration">
      <configGlobalSettings id="1159" key="423472a0-9b57-4439-9957-c0907733e2f0" parentID="1158" level="3" creatorID="0" sortOrder="0" createDate="2016-12-12T12:01:03" updateDate="2017-01-19T03:28:23" nodeName="Global Settings" urlName="global-settings" path="-1,1148,1158,1159" isDoc="" nodeType="1116" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="configGlobalSettings">
        <favicon><![CDATA[1162]]></favicon>
        <addSuffix>1</addSuffix>
        <siteName><![CDATA[Ventoil]]></siteName>
        <alternateLogo><![CDATA[/media/1043/logo.png]]></alternateLogo>
        <generateAutomatically>0</generateAutomatically>
        <menuItems><![CDATA[1148,1171]]></menuItems>
        <footerTelephone><![CDATA[0520-411005]]></footerTelephone>
        <footerLinkText><![CDATA[www.ventoil.se]]></footerLinkText>
        <footerImage><![CDATA[/media/1012/auktoriserad-swegon-inst.png]]></footerImage>
        <footerImageLinkExternal><![CDATA[http://www.swegon.com/]]></footerImageLinkExternal>
        <footerAddress><![CDATA[Göta Industriområde
463 35 Göta
(OBS! Ring innan besök)]]></footerAddress>
        <footerLinkExternal><![CDATA[http://www.ventoil.se/]]></footerLinkExternal>
        <footerImageLinkNewWindow>1</footerImageLinkNewWindow>
        <footerCopyrightText><![CDATA[<p>Designed &amp; developed by <a href="https://www.facebook.com/nitinanand1982" target="_blank" title="Nitin Anand">Nitin Anand</a></p>]]></footerCopyrightText>
        <footerText><![CDATA[<p>Ventoil Luft &amp; Energiservice AB</p>]]></footerText>
        <footerEmail><![CDATA[info@ventoil-luft.se]]></footerEmail>
        <footerLinkNewWindow>1</footerLinkNewWindow>
        <hideBreadcrumbs>0</hideBreadcrumbs>
        <policyIfOGTagEmpty>1911</policyIfOGTagEmpty>
        <policyIfOGDescriptionTagEmpty>1911</policyIfOGDescriptionTagEmpty>
        <copyMetaDescriptionFromOgIfEmpty>0</copyMetaDescriptionFromOgIfEmpty>
        <copyMetaTitleFromOgIfEmpty>0</copyMetaTitleFromOgIfEmpty>
        <policyIfOGImageTagEmpty>1911</policyIfOGImageTagEmpty>
      </configGlobalSettings>
      <folderSectionsReusable id="1160" key="7fb41c1c-118a-4340-87de-77f22a761453" parentID="1158" level="3" creatorID="0" sortOrder="1" createDate="2016-12-12T12:01:03" updateDate="2016-12-12T12:01:06" nodeName="Reusable Content Sections" urlName="reusable-content-sections" path="-1,1148,1158,1160" isDoc="" nodeType="1135" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderSectionsReusable" />
    </folderConfiguration>
    <Pagehome id="1171" key="8a2e80ed-0951-4871-9625-7f999ca76958" parentID="1148" level="2" creatorID="0" sortOrder="3" createDate="2016-12-13T11:59:48" updateDate="2017-01-19T03:32:36" nodeName="Kontakta oss" urlName="kontakta-oss" path="-1,1148,1171" isDoc="" nodeType="1147" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="1075" nodeTypeAlias="Pagehome">
      <useLightOverlay>0</useLightOverlay>
      <image><![CDATA[1243]]></image>
      <useLightTextColor>1</useLightTextColor>
      <useOverlay>1</useOverlay>
      <umbracoNaviHide>0</umbracoNaviHide>
      <redirectFirstSubPage>0</redirectFirstSubPage>
      <hideFromFooter>0</hideFromFooter>
      <lightTopMenu>0</lightTopMenu>
      <introType>7</introType>
      <youtubeVideoId><![CDATA[_4YMwuXrMOo]]></youtubeVideoId>
      <folderSections id="1178" key="af4288a9-a59f-4200-a473-118ce551043f" parentID="1171" level="3" creatorID="0" sortOrder="0" createDate="2016-12-13T11:59:52" updateDate="2016-12-13T11:59:52" nodeName="Page Elements" urlName="page-elements" path="-1,1148,1171,1178" isDoc="" nodeType="1136" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderSections">
        <sectionTeam id="1189" key="4aa0e170-ff74-4e13-b457-b9ae54690252" parentID="1178" level="4" creatorID="0" sortOrder="0" createDate="2016-12-13T21:14:18" updateDate="2016-12-13T21:18:40" nodeName="Team Ventoil" urlName="team-ventoil" path="-1,1148,1171,1178,1189" isDoc="" nodeType="1143" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="sectionTeam">
          <animationLarger>1</animationLarger>
          <animationEnable>1</animationEnable>
          <animationDirection><![CDATA[Left]]></animationDirection>
          <hideTitle>0</hideTitle>
          <appearance>767</appearance>
          <dTeamItem id="1190" key="5d9430b0-2ea0-4f86-94a5-0694b54a36d3" parentID="1189" level="5" creatorID="0" sortOrder="0" createDate="2016-12-13T21:17:06" updateDate="2016-12-13T21:18:04" nodeName="Sune Persson" urlName="sune-persson" path="-1,1148,1171,1178,1189,1190" isDoc="" nodeType="1142" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="dTeamItem">
            <role><![CDATA[VD]]></role>
            <facebookUrl><![CDATA[https://www.facebook.com/sune.persson.378]]></facebookUrl>
            <image><![CDATA[{
  "focalPoint": {
    "left": 0.6333333333333333,
    "top": 0.21319796954314721
  },
  "src": "/media/1016/sune.jpg",
  "crops": [
    {
      "alias": "Default",
      "width": 458,
      "height": 540
    }
  ]
}]]></image>
            <summary><![CDATA[Sune Persson är Civilingenjör som startade Ventoil 20 år sedan]]></summary>
          </dTeamItem>
          <dTeamItem id="1192" key="4f306c8f-8e45-4af1-8f77-7f7e96a255a1" parentID="1189" level="5" creatorID="0" sortOrder="1" createDate="2016-12-13T21:40:30" updateDate="2016-12-13T21:40:57" nodeName="Joel" urlName="joel" path="-1,1148,1171,1178,1189,1192" isDoc="" nodeType="1142" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="dTeamItem">
            <role><![CDATA[Vd]]></role>
            <image><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1018/niles_a.jpg",
  "crops": [
    {
      "alias": "Default",
      "width": 458,
      "height": 540
    }
  ]
}]]></image>
            <summary><![CDATA[Joel är del ägare i Ventoil och har jobbat i 20 år.]]></summary>
          </dTeamItem>
          <dTeamItem id="1191" key="2606c435-ade8-42ff-ba06-72ab64bae354" parentID="1189" level="5" creatorID="0" sortOrder="2" createDate="2016-12-13T21:38:09" updateDate="2017-01-19T03:33:35" nodeName="Annette Andreassen" urlName="annette-andreassen" path="-1,1148,1171,1178,1189,1191" isDoc="" nodeType="1142" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="dTeamItem">
            <role><![CDATA[Administration]]></role>
            <facebookUrl><![CDATA[https://www.facebook.com/annette.andreassen.9?fref=ts]]></facebookUrl>
            <image><![CDATA[{
  "focalPoint": {
    "left": 0.46333333333333332,
    "top": 0.4375
  },
  "src": "/media/1017/annette.jpg",
  "crops": [
    {
      "alias": "Default",
      "width": 458,
      "height": 540
    }
  ]
}]]></image>
            <summary><![CDATA[Annette har jobbat på Ventoil i 10 år och är ansvarig för administration]]></summary>
          </dTeamItem>
        </sectionTeam>
        <sectionContact id="1244" key="6ae92e0c-405b-4901-a92f-f37dea45c3af" parentID="1178" level="4" creatorID="0" sortOrder="1" createDate="2017-01-19T03:35:09" updateDate="2017-01-19T03:35:09" nodeName="Kontakta Oss" urlName="kontakta-oss" path="-1,1148,1171,1178,1244" isDoc="" nodeType="1104" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="sectionContact">
          <animationLarger>1</animationLarger>
          <animationEnable>1</animationEnable>
          <animationDirection><![CDATA[Down]]></animationDirection>
          <administratorsEmail><![CDATA[info@ventoil-luft.se]]></administratorsEmail>
          <notificationEmailSubject><![CDATA[Mail från Ventoil.se]]></notificationEmailSubject>
          <notificationMailSenderAlias><![CDATA[Ventoil AB]]></notificationMailSenderAlias>
          <notificationMailFrom><![CDATA[info@ventoil-luft.se]]></notificationMailFrom>
          <hideSubject>0</hideSubject>
          <hideName>0</hideName>
          <hideTitle>0</hideTitle>
        </sectionContact>
      </folderSections>
      <folderHomeAssets id="1175" key="2744844f-a5f8-4d5e-a4ab-5c00a7c0b5af" parentID="1171" level="3" creatorID="0" sortOrder="1" createDate="2016-12-13T11:59:50" updateDate="2016-12-13T11:59:52" nodeName="Homepage Assets" urlName="homepage-assets" path="-1,1148,1171,1175" isDoc="" nodeType="1117" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderHomeAssets">
        <folderLinkButtons id="1177" key="9de334f7-dd34-44bf-93d6-0bc8259f0976" parentID="1175" level="4" creatorID="0" sortOrder="0" createDate="2016-12-13T11:59:51" updateDate="2016-12-13T11:59:51" nodeName="Link Buttons" urlName="link-buttons" path="-1,1148,1171,1175,1177" isDoc="" nodeType="1122" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderLinkButtons" />
        <folderSliderImages id="1176" key="86282d96-f3ab-4ba1-8cd5-bb2add554950" parentID="1175" level="4" creatorID="0" sortOrder="1" createDate="2016-12-13T11:59:51" updateDate="2016-12-13T11:59:51" nodeName="Slider Images" urlName="slider-images" path="-1,1148,1171,1175,1176" isDoc="" nodeType="1140" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderSliderImages" />
      </folderHomeAssets>
      <folderConfiguration id="1172" key="7950588e-8834-4d26-8a67-9c55006cf8d4" parentID="1171" level="3" creatorID="0" sortOrder="2" createDate="2016-12-13T11:59:49" updateDate="2016-12-13T11:59:52" nodeName="Site Configuration" urlName="site-configuration" path="-1,1148,1171,1172" isDoc="" nodeType="1103" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderConfiguration">
        <configGlobalSettings id="1173" key="d5eafde7-d3fe-49e1-85e0-a91588080cbb" parentID="1172" level="4" creatorID="0" sortOrder="0" createDate="2016-12-13T11:59:49" updateDate="2016-12-13T12:03:22" nodeName="Global Settings" urlName="global-settings" path="-1,1148,1171,1172,1173" isDoc="" nodeType="1116" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="configGlobalSettings">
          <addSuffix>0</addSuffix>
          <generateAutomatically>0</generateAutomatically>
          <menuItems><![CDATA[1171]]></menuItems>
          <footerImageLinkNewWindow>0</footerImageLinkNewWindow>
          <footerLinkNewWindow>0</footerLinkNewWindow>
          <hideBreadcrumbs>0</hideBreadcrumbs>
          <copyMetaDescriptionFromOgIfEmpty>0</copyMetaDescriptionFromOgIfEmpty>
          <copyMetaTitleFromOgIfEmpty>0</copyMetaTitleFromOgIfEmpty>
        </configGlobalSettings>
        <folderSectionsReusable id="1174" key="a3a832b9-6684-450c-9927-61ed23f53695" parentID="1172" level="4" creatorID="0" sortOrder="1" createDate="2016-12-13T11:59:50" updateDate="2016-12-13T11:59:50" nodeName="Reusable Content Sections" urlName="reusable-content-sections" path="-1,1148,1171,1172,1174" isDoc="" nodeType="1135" creatorName="Nitin Anand" writerName="Nitin Anand" writerID="0" template="0" nodeTypeAlias="folderSectionsReusable" />
      </folderConfiguration>
    </Pagehome>
  </Pagehome>
</root>